.footer {
    background-color: rgb(19, 19, 19);
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.footer > button {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 15px;
}
.footer > button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.icon {
    margin: 10px 10px;
    /* background-color: #005ea2; */
    /* transform: scale(1.2); */
    font-size: 30px;
    color: whitesmoke;
}
.copyright {
    color: #c1c0c0;
}